header {
  width: 100%;
    height: 80px;
    color: #fff;
    background-color: rgba(21, 21, 21, 0.5);
}
.conteiner{
display: flex;
max-width: 920px;
align-items: center;
justify-content: center;
margin: auto;
}

.task{
  margin-left: 20px;
}
.content{
  flex: 1;
  justify-content: center;
  margin: 10px;
  padding-bottom: 30px;
  padding: 10px;
  background-color: #e8e2e1;
}
.inl{
  margin-bottom: 300px;
  padding-bottom: 300px;
}
.all-header{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}
.big-center-block {
    /* padding: 0 6.3%; */
    position: relative;
    margin: 0 auto;
    max-width: 920px;
    margin: auto;
}
.form-control{
  width: 60%;
  padding: 5px;
  margin-bottom: 5px;
  float: right;
}
.right{
  float: right;
  margin-bottom: 10px;
}
.form{
  width: 500px;
}
.form_center{
  margin: 0 auto;

}
table{
  table-layout: fixed;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 30px;
  }
.header_form{
  text-align: center;
}
header .all-header a{
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: #fff;
}
A:visited, a:link, a{
  text-decoration: none;
  color: black;
}
body{
  background: #706766;
  font-family: 'Roboto', sans-serif;
}

////////////////////////
* { box-sizing: border-box;}
.topmenu > li {
  /* width: 25%; */
  /* float: left; */
  position: relative;
  /* font-family: 'Open Sans', sans-serif; */
}
ul{
  padding-inline-start: 10px;
}
.submenu {
  background-color: #666e68;
  margin-top: 10px;
  position: absolute;
  left: -50px;
  top: 100%;
  z-index: 5;
  width: 200px;
  opacity: 0;
  transform: scaleY(0);
  transform-origin: 0 0;
  transition: .3s ease-in-out;
}
.submenu > li > a{
  /* margin: 0px; */
  color: black;
  /* background-color: white; */
}
.topmenu > li:hover .submenu {
  opacity: 1;
  transform: scaleY(1);
}
ul{
  list-style: none;
}
////////////////////////////////////
.error_input{
  border: 1px solid red;
}
.user_group{
  border-collapse: collapse;
}
.user_group td, th{
  border: 1px solid black;

}
hr{
  width: 90%;
}
.group{
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 30px;
}
.left_block{
  padding-left: 5%;
  flex: 4;
}
.right_block{
  padding-right: 5%;
  flex: 1;
}
